<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>Galleries</title>
	</head>

	<app-navbar></app-navbar>

	<body>
		<app-main></app-main>
	<div class="container">
		<router-outlet></router-outlet>
	</div>

    <footer class="blog-footer text-center">
      <p>Project Galleries made by: <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </footer>

  </body>
</html>