<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Galleries</h1>
		<p class="lead text-muted">Best place for geting images from holidays</p>
	</div>
</section>

<div class="container">
	<div class="container d-flex flex-row">
		<img class="rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEYTdxbBBiVFI9BpizlaggEoTPC_PtjrwoDmJO4gBc3PynuogKwJ1r8dI" style="width: 10rem; height: 10rem;">

		<div class="d-flex flex-column">
			<div class="p-2">
				<ul class="list-group">
					<li class="list-group-item">Title: 
						<a href="#"> Title of gallerie</a>
					</li>
					<li class="list-group-item">Author: 
						<a href="#"> Name of author</a>
					</li>
					<li class="list-group-item">Date of creation:</li>
				</ul>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="container">
	<div class="container d-flex flex-row">
		<img class="" src="" style="width: 10rem; height: 10rem;">

		<div class="d-flex flex-column">
			<div class="p-2">Title:</div>
			<div class="p-2">Author:</div>
			<div class="p-2">Creation date:</div>
		</div>
	</div>
</div>